a                                                                                                                                                                           # Запрещаем все файлы по умолчанию
*

# Разрешаем сам .gitignore
!.gitignore

# Разрешаем README
!README.md

# Разрешаем конфигурационные файлы
!go.mod
!go.sum
!docker-compose.yml
!Makefile

# Разрешаем скрипт start-cloudflared.sh
!start-cloudflared.sh

# Разрешаем исходный код
!cmd/
!cmd/**
!internal/
!internal/**
!proto/
!proto/**

# Разрешаем Docker файлы
!docker/
!docker/**

# Разрешаем миграции БД
!migrations/
!migrations/**

# Разрешаем веб-приложение
!webapp/
!webapp/**
